.container {
  margin-top: 30px;
}

form input.ng-invalid.ng-touched, form select.ng-invalid.ng-touched, form textarea.ng-invalid.ng-touched{
  border: 1px solid #ff5166;
}

form input.ng-valid, form select.ng-valid, form textarea.ng-valid{
  border: 1px solid limegreen;
}
